{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}ScrapLink{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- فافيكون -->
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <!-- ملف التنسيق الرئيسي -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <!-- شريط التنقل -->
  {% include 'includes/base_header.html' %}

  <!-- محتوى الصفحة -->
  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <!-- الفوتر -->
  {% include 'includes/base_footer.html' %}

</body>
</html>
